
<div *ngIf="medicos">
    <h3 class="text-center">Datos Generales</h3>

<form class="example-form" (ngSubmit)="actualizarDoctor()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" [(ngModel)]="medicos.nombre" name="nombre">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" [(ngModel)]="medicos.apellido" name="apellido">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="medicos.email" name="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Celular" [(ngModel)]="medicos.celular" name="celular">
      </mat-form-field>
    

      

<h5>Especialidades</h5>
      <mat-nav-list>
        <mat-list-item *ngFor="let item of medicos.medicos_especialidades">
           <a matLine >{{ item.Especialidades.nombre_especialidad }}</a>
           <button mat-icon-button (click)="borrarEspecialidad(item.id)">
              <mat-icon>delete</mat-icon>
           </button>
        </mat-list-item>
      </mat-nav-list>
      
               

   <!-----FUNCIONALIDAD MULTIPLE ID----->
   <!--<mat-form-field >
    <mat-select multiple name="users"
        [(ngModel)]="medicos.medicos_especialidades">
        <mat-option *ngFor="let item of spec_filtrada" [(value)]="item">
           {{ item.nombre_especialidad }}
        </mat-option>
   </mat-select>
</mat-form-field> <br>-->

<mat-form-field class="example-full-width">
    <mat-select placeholder="Especialidades" [formControl]="toppings" multiple  (ngModelChange)="onChange($event)">
      <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'mas' : 'mas'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of spec_filtrada"  [value]="topping.nombre_especialidad">{{topping.nombre_especialidad}}</mat-option>
    </mat-select>
</mat-form-field> <br>

<br><br>
      <div style="text-align: right;">
        <button type="submit"  style="margin-right: 5px;" class="btn btn-success">Actualizar</button>
        <button type="submit" (click)="salir()" class="btn btn-danger">Cancelar</button>
      </div>
    
  </form>
  

</div>


