<div class="example-container">
        <form class="example-form" (ngSubmit)="guardarmedicos()">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre"  [(ngModel)]="medicos.nombre" name="nombre">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido"  [(ngModel)]="medicos.apellido" name="apellido">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email"  [(ngModel)]="medicos.email" name="email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                            <input matInput placeholder="Celular"  [(ngModel)]="medicos.celular" name="celular">
                </mat-form-field>

                <input type="submit" value="Guardar" class="btn btn-success">

               
        </form>
              
  </div>
